/* Default theme for eyeOS */
/* Body and common parts */
body{
	font-family: "Century Gothic", "Lucida Grande", Verdana, Lucida, sans-serif;
	color: #545454;	
	margin: 0px;
	padding: 0px;
	background-color:#FFFFFF;
	font-size: 10pt;
	line-height: 1.8;
}
a:link, a:visited{
	color: #545454;
	text-decoration: none;
	border: 0;
}
a:hover {
	text-decoration: none;
	color: #545454;
	border: 0;
}
input {
	border: 1px solid #7F7F7F;
	background-color: #fff;
}
input.image {
	border: 0px;
}
h1{
	font-size: 160%;
	text-align: center;
	font-weight: normal;
}
h2{
	font-size: 140%;
	text-align: center;
	font-weight: normal;
}
h3{
	font-size: 120%;
	text-align: center;
}


/* ---------------------DESKTOP START--------------------- */

/* Icon bar (dock) */
#barraicones {
	position: absolute; 
	width: 98%;
	left: 1%;
	top: 12px;
	height: 65px;
	z-index: 31;
	text-align: center;
}

/* Minimized apps dock */
.barradebaix {
	position:absolute;
	z-index: 5;
	left:0px;
	bottom: 22px;
	width:700px;
	height:32px;
	background: url("desktop/dockmin.png");
	background-repeat: no-repeat; 
	background-position: center right;
}

/* Minimized apps (when opened apps) bar */
.barbaixobert {
	position: absolute; 
	left: 5px;
	top: -27px;
	margin-left: 5px;
	font-size: 10pt;
	color: #FFFFFF;
	font-size: 14px;
}

/* Text with the icons name */
.coloriconstext {
	margin-top:0px;
	left:0px;
	font-size:18pt;
	color: #fff;
	opacity: 0.6;
	text-align: center;
}

/* Application icon Onmouseover and normal */
.AppIconOn {
	opacity:0.75; -moz-opacity: 0.75;
}

.AppIcon  {
	opacity:1; -moz-opacity: 1;
}

/* Panel for small icons */
.panel {
	position: absolute;
	z-index: 2;
	width: 100px;
	height: 37px;
	right:0px;
	bottom: 0px;
	background-image:url("desktop/panel.png"); 
	background-position: bottom; 
}

/* Close Session Button */
.botosortir {
	position:absolute;
	bottom: 20px;
	right: 10px;
	z-index:3;
}


/* Clock */
.rlltg {
	position: absolute; 
	right: 4px;
	bottom:0px;
	z-index:3;
	font-size: 8pt;
}

/* Trash icon */
.icnbrossa{
	position: absolute;
	z-index: 3;
	width: 28px;
	height: 28px;
	right:59px;
	bottom: 2px;
}

/* System messages */
.missatgesistema{
	position:absolute;
	right:10px;
	top: 50px;
	width:180px;
	height: 80px;
	background-color: #fff;
	padding: 15px; 
	border:1px solid #7C9099;  
	z-index: 2; 
	background-image:url("gfxwin/bubbles/background.png"); 
	background-position: bottom; 
	background-repeat:repeat-x;
}
/* ---------------------DESKTOP END--------------------- */

/* ---------------------WINDOW START--------------------- */

/* Title bar */
.captitol {
	position: absolute;
	top: 2px;
	left: -7px;
	margin-left:20px;
	text-align: left;
	font-size:13px;
	font-weight: bold;
	z-index: 105;
	color: #545454;
}

/* Left Up Corner */
.bsupesq {
	position:absolute;
	left: 0px;
	width:25px;
	height:25px;
	background: url("gfxwin/1.png");
	background-repeat: no-repeat; 
	background-position: top left;
}

/* Right Up Corner */
.bsupdre {
	position:absolute;
	right: 0px;
	width:25px;
	height:25px;
	background: url("gfxwin/3.png");
	background-repeat: no-repeat; 
	background-position: top right;
}

/* Up Border */
.bsupcen {
	position:absolute;
	right: 7px;
	left: 25px;
	height:25px;
	background: url("gfxwin/2.png");
	background-repeat: repeat-x; 
	background-position: 25px;
}

/* Left Down Corner */
.binfesq {
	position:absolute;
	left: 0px;
	width:15px;
	height:15px;
	background: url("gfxwin/5.png");
	background-repeat: no-repeat; 
	background-position: bottom left;
}

/* Right Down Corner */
.binfdre {
	position:absolute;
	right: 0px;
	width:15px;
	height:15px;
	background: url("gfxwin/7.png");
	background-repeat: no-repeat; 
	background-position: bottom right;
}

/* Down Border */
.binfcen {
	position:absolute;
	bottom: 0px;
	right: 15px;
	left: 15px;
	height:15px;
	background: url("gfxwin/6.png");
	background-repeat: repeat-x; 
}

/* Window content */
.txt {
	position: absolute;
	top: 25px;
	bottom: 15px;
	right: 0px;
	left: 0px;
	text-align: left;
	border-left: 1px solid #979797;
	border-right: 1px solid #979797;
	background: url("gfxwin/4.png");
	background-repeat: repeat-x; 
	z-index: 100;
	background-color: #FEFEFE;
}

.interior {
	position:absolute;
	overflow: auto;
	top: 2px;
	right: 5px;
	left: 8px;
	bottom: 8px;
}

/* Window Foot */
.peu {
	position:absolute;
	bottom: 0px;
	width:100%;
	height:15px;
	text-align: left;
	cursor: move;
}
/* Other items in windows */
/* Maximize button */
.boto {
	position:absolute;
	right: 24px;
	top: 5px;
	width:20px;
	height:19px;
	z-index: 150;
}
/* Resize image */
.botobaix {
	position:absolute;
	right: -15px;
	top: 0px;
	width:15px;
	height:15px;
	z-index: 150;
	cursor: se-resize;
}

/* ---------------------WINDOW END--------------------- */

/* ---------------------BUBBLES START--------------------- */
.bubble, .eyeConfig{
	position:absolute; 
	padding: 15px; 
	border:1px solid #7C9099; 
	display: none; 
	background-color: #fff; 
	z-index: 2; 
	background-image:url("gfxwin/bubbles/background.png"); 
	background-position: bottom; 
	background-repeat:repeat-x;
}
.bubbleout {
	position:absolute; 
	top: -18px; 
	left:-1px; 
	height:18px; 
	width:13px; 
	background-image:url("gfxwin/bubbles/out.png");
}
.bubblecancel {
	position:absolute; 
	bottom:5px; 
	right: 5px; 
}
.bubbletitle {
	color: #4078bc;
	font-size: 12pt;
	font-weight: bold;
	text-align: right;
	margin-top: -15px;
	margin-right: 0;
	margin-bottom: 10px;
}
/* ---------------------BUBBLES END--------------------- */

/* ---------------------APPS START--------------------- */

/* Apps action bar */
.actionbar {
	position: relative;
	margin-top: 8px;
	left: 3%;
	width: 94%;
	height: 34px;
	background: url(gfxwin/barc.png);
	background-repeat: repeat-x; 
	background-position: center center;
}
.barr {
	position: absolute;
	height: 34px;
	width: 7px;
	right: -7px;
	background: url(gfxwin/barr.png);
	background-repeat: no-repeat; 
}
.barl {
	position: absolute;
	height: 34px;
	width: 7px;
	left: -7px;
	background: url(gfxwin/barl.png);
	background-repeat: no-repeat; 
}

/* Class for some textareas */
.llibreta{
	font-family: "Century Gothic", "Lucida Grande", Verdana, Lucida, sans-serif;
	background-color:transparent;
	font-size:14px;
	border: 1px solid #7F7F7F;
}

/* Big titles for some apps */
.titoltaronja {
	font-size: 40px;
	color: orange;
	text-align: right;
	margin-right: 70px;
}
/* ---------------------APPS END--------------------- */
