body
{font-family: verdana,arial; font-size: 10pt; scrollbar-arrow-color: #ffffff; scrollbar-base-color: b4d1e1;
scrollbar-highlight-color: silver; scrollbar-shadow-color: black;}

table,tr,td
{font-family: verdana,arial; font-size: 10pt}