/* Calendar styles */

.cal {font-size: 11pt; padding:3px; text-align: center;}
.cal .month {font-size: 13pt;} 
.cal .d0, .cal .d6 {color:#156197}
.cal .holiday {background-color: #BBB; border: 1px solid #BBB; }
.cal .event {background-color:#fff6bd; border: 1px solid #f2c617;}
.cal .selected {background-color:#e6e6e6;}
.cal .today { border: 1px solid #b60a0a; color:#b60a0a}
.cal .weekno { font-size: 8pt;}
.eyeCaltext { border: 1px solid #666; width: 310px; height: 180px;}
