.pathtxt {
	color: #575757;
	font-family: Verdana;
	font-size: 10px;
	margin-top: 2px;
}
.eHmenutitle {
	margin-left: 5px;
	color: #fc851c;
	font-family: Verdana;
	font-size: 12px;
}

.eHmenutxt {
	margin-left: 5px;
	color: #156197;
	font-family: Verdana;
	font-size: 10px;
}
a.menulink:link, a.menulink:visited, a.menulink:hover {
	color: #156197;
}
.eHselected{
	position: relative;
	margin-right: 1px;
	margin-left: 1px;
	padding-left: 4px;
	color: #156197;
	font-family: Verdana;
	font-size: 10px;
	background-color: #ffffff;
	border-top: 1px solid #b0c8dd;
	border-bottom: 1px solid #b0c8dd;
}
.eyeHomemenus {
	font-size: 0px;
	position: absolute;
	top: 33px;
	left: 9px;
	width: 144px;
}
.eyeHomelist {
	position: absolute;
	top: 40px;
	left: 173px;
	right: 0;
}
.eyeHomemt {
	width: 100%;
	height: 2px;
	background-image:url("img/bar/menu_top.png");
	background-repeat: no-repeat;
	background-position: top center;
	margin-top: 12px;
}
.eyeHomemc {
	width: 100%;
	background-image:url("img/bar/menu_cen.png");
	background-repeat: repeat-y;
	background-position: top center;
	margin-bottom: 10px;
}
.eyeHomemd {
	width: 100%;
	margin-top: -10px;
	height: 13px;
	background-image:url("img/bar/menu_dow.png");
	background-repeat: no-repeat;
	background-position: top center;
}
.eHbox {
	position: absolute;
	border: 1px solid #748492;
	right: 14px;
	width: 107px;
	background-color: #FFFFFF;
	border-left: 1px solid #B3C5D5;
	border-top: 1px solid #B3C5D5;
	border-bottom: 1px solid #788492;
	border-right: 1px solid #788492;
	font-size: 10px;
	text-align: left;
	padding-left: 2px;
	padding-bottom: 4px;
	padding-top: 1px;
}
.imgbox {
	margin-bottom: -3px;
}
